<div class = "card-list-container py-1 col-12">
 <div class="d-flex justify-content-end" id="follow">
  <%= render 'public/relationships/follow', end_user: end_user %>
 </div>
 <div class= "card mx-auto mt-1 shadow-lg">
  <div class= "card-body">
   <div class = "row">
    <div class="col-md-2 col-sm-12">
     <%= image_tag end_user.get_profile_image("100x100") %>
     <%= link_to follows_end_user_path(end_user) do %>
     <p class="col-md-12 col-sm-12">フォロー<%= following_users %><%= end_user.follower.count %><p>
     <% end %>
     <%= link_to followers_end_user_path(end_user) do %>
     <p class="col-md-12 col-sm-12">フォロワー<%= follower_users %><%= end_user.followed.count %></p>
     <% end %>
    </div>
    <div class="col-md-10 col-sm-12">
     <div class= "row profile">
       <div class="col-md-3 col-sm-12 py-1">氏名</div>
       <div class="col-md-3 col-sm-12 py-1">フリガナ</div>
       <div class="col-md-3 col-sm-12 py-1">ニックネーム</div>
       <div class="col-md-3 col-sm-12 py-1">ステータス</div>
      </div>
      <div class="row profire-data">
       <div class="col-md-3 col-sm-12 py-1">
        <%= end_user.last_name %><%= end_user.first_name %>
       </div>
       <div class="col-md-3 col-sm-12 py-1">
        <%= end_user.last_name_kana %><%= end_user.first_name_kana %>
       </div>
       <div class="col-md-3 col-sm-12 py-1"><%= end_user.nickname %></div>
       <div class="col-md-3 col-sm-12 py-1"><%= end_user.is_deleted ? "退会" : "有効" %></div>
      </div>
     <div class="row">
      <div class= "col-12 py-2">
       <h5 class="text-center py-2">自己紹介</h5>
       <p class="h6 text-center"><%= end_user.introduction %></p>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>