<div class= "container px-5 px-sm-0">
  <div class="row">
    <div class= "col-12">
      <h2 class="text-dark p-4 md-0 text-center">プロフィール</h2>
    </div>
      <%= render 'public/end_users/profile', end_user: @end_user,
      following_users: @following_users, follower_users: @follower_users %>
  </div>
  <div class ="row">
    <div class = "card-list-container col-12">
      <div class= "card w-70 mx-auto mt-1 shadow-lg">
        <div class= "card-body">
          <div class = "row">
            <div class="col-md-6 col-sm-12 py-1">
              <p>メールアドレス</p>
              <%= @end_user.email %>
              <p>電話番号</p>
              <%= @end_user.telephone_number %>
              <p>郵便番号</p>
              <%= @end_user.postal_code %>
              <p>住所</p>
              <%= @end_user.address %>
            </div>
            <div class="col-md-6 col-sm-12 py-1">
              <div class="col-12 py-1">
                <%= link_to "出品一覧", new_sale_path, class: "btn btn-lg btn-info" %>
              </div>
              <div class="col-12 py-1">
                <%= link_to "登録した本", books_path(end_user_id: @end_user.id), class: "btn btn-lg px-4 btn-info" %>
              </div>
              <div class="col-12 py-1">
                <%= link_to "注文履歴一覧", orders_path, class: "btn btn-lg btn-info" %>
              </div>
              <div class="col-12 py-1">
                <%= link_to "配送先", addresses_path, class: "btn btn-lg btn-info" %>
              </div>
              <% if @end_user.last_name!= "ゲスト" && @end_user.first_name!= "ユーザー" %>
                <div class="col-12 py-1">
                  <%= link_to "プロフィールを編集", edit_end_user_path(@end_user), class: "btn btn-lg btn-success" %>
                </div>
                <div class="col-12 py-1">
                  <%= link_to "退会する", confirm_unsubscribe_path, class: "btn btn-lg btn-danger" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




