<h1>マイページ</h1>

<p>プロフィール画像</p>
<div>
  <%= image_tag @end_user.get_profile_image("100x100") %>
</div>

<p>氏名</p>
<%= @end_user.last_name %>
<%= @end_user.first_name %>

<p>氏名（フリガナ）</p>
<%= @end_user.last_name_kana %>
<%= @end_user.first_name_kana %>

<p>ニックネーム</p>
<%= @end_user.nickname %>

<p>自己紹介</p>
<%= @end_user.introduction %>

<p>メールアドレス</p>
<%= @end_user.email %>

<p>電話番号</p>
<%= @end_user.telephone_number %>

<p>郵便番号</p>
<%= @end_user.postal_code %>

<p>住所</p>
<%= @end_user.address %>

<p>会員ステータス</p>
<%= @end_user.is_deleted ? "退会" : "有効" %>

<% if @end_user.last_name != "ゲストユーザー" %>
<%= link_to "プロフィールを編集", edit_end_user_path(@end_user) %>
<% end %>
<%= link_to "退会する", confirm_unsubscribe_path %>

<h2>出品内容を見てみる</h2>
<%= link_to "出品一覧", new_sale_path %>
<h2>配送先</h2>
<%= link_to "配送先一覧", addresses_path %>