<h1>Public::EndUsers#show</h1>

<p>Profile Image</p>
<%= image_tag @end_user.get_profile_image("100x100") %>

<p>Name</p>
<%= @end_user.last_name %>
<%= @end_user.first_name %>

<p>Name_kana</p>
<%= @end_user.last_name_kana %>
<%= @end_user.first_name_kana %>

<p>Nickname</p>
<%= @end_user.nickname %>

<p>Introduction</p>
<%= @end_user.introduction %>


<p>Email</p>
<%= @end_user.email %>

<p>Telephone_number</p>
<%= @end_user.telephone_number %>

<p>Postal_code</p>
<%= @end_user.postal_code %>

<p>Address</p>
<%= @end_user.address %>

<p>Status</p>
<%= @end_user.is_deleted ? "退会" : "有効" %>

