<h1>ようこそsecond-bookstoreへ</h1>
<h2>ここでは本好きが集まれるサイトとなっております</h2>
<h4>利用の仕方</h4>
<h6>
  自分のおすすめ本を紹介できる、またお気に入りになる本を調べられる。</br>
　本に関してのおすすめポイントをまとめることができ、自分の趣味嗜好について考えられる。</br>
　インターネット上にMy.本棚として管理できるようにする。</br>
　他の人がどんな本を持っているのか、お気に入り要録している本を閲覧できる。</br>
　自分の所持している本に関して、アウトプットをしたい人や、考察してそこから読み取ったことを発信していきたい時。</br>
　加えて中古の本を誰かに譲りたい、または、本好きな人の持っている本を読んでみたい、自分とは違うジャンルでも読んでみたいと思う時。</br>
</h6>

<h2>それぞれのユーザーのレビュー一覧</h2>

<% @reviews.each do |review| %>
<div class="end_user">
<%= image_tag review.end_user.get_profile_image("100x100") %>
<%= review.end_user.nickname %>
</div>

<%= link_to (image_tag(review.book['medium_image_url'])), review.book['item_url'] %>
<%= review.book.title %>
<p><%= link_to "#{review.review_comments.count}コメント", review_path(review) %></>
<p><i class="fas fa-heart"></i><%= review.favorites.count %>イイね</p>
<%= review.heading %>
<p><%= link_to "この本のレビュー詳細を見てみる", review_path(review) %></p>
<% end %>




