<% if end_user_signed_in? %>
  <div class= "container px-sm-0">
  <div class="row">
    <div class= "col-md-7 py-4 offset-md-1">
       <h2>レビューする本を探す</h2>
       <div class="col-md-8 offset-md-1 py-3">
    <%= render 'public/books/rakuten_search' %>
    </div>
      <h2 class="text-dark p-4 md-0">レビュー一覧</h2>
      <div class = "card-list-container py-1 col-12">
        <%= render "public/reviews/index", reviews: @reviews %>
      </div>
    </div>
    <div class= "col-md-4 py-4">
      <%= render 'public/books/rakuten_search' %>

    <div class= "mt-4">
      <h3>カテゴリー</h3>
      <%= render 'public/categories/index', categories: @categories %>
    </div>
    <div class="py-3">
      <%= render 'public/searchs/search' %>
    </div>
  </div>
  </div>
</div>


<% else %>
<div class="container">
  <div class="row">
    <div class="col text-center py-4">
      <h1 class="text-center"><strong>ようこそsecond-bookstoreへ</strong></h1>
        <h2 class="text-center">ここでは本好きが集まれるサイトとなっております</h2>
        <h4 class="py-2">利用の仕方</h4>
        <h6 class="text-center">
          自分のおすすめ本を紹介できる　またお気に入りになる本を調べられる</br>
        　本に関してのおすすめポイントをまとめられる</br>
        　インターネット上にMy.本棚として管理</br>
        　発信していきたい時</br>
        　本好きな人と繋がりたい時</br>
        </h6>
    </div>
  </div>
</div>

<% end %>




