<div class="container">
  <h2 class= "col-md-6 col-sm-12 py-5 mx-auto">レビュー一覧</h2>
    <div class= "row w-90 mx-auto mt-1 bg-light shadow-lg">
      <div class="h6 col-md-2 col-sm-12"><strong>投稿本</strong></div>
      <div class="h6 col-md-2 col-sm-12"><strong>ユーザー</strong></div>
      <div class="h6 col-md-8 col-sm-12"><strong>内容</strong></div>
    </div>
    <% if @reviews.present? %>
      <% @reviews.each do |review| %>
        <div class= "row w-90 mx-auto bg-light">
          <div class="col-md-2 col-sm-12">
            <%= link_to (image_tag(review.book.medium_image_url)), review.book.item_url %>
          </div>
          <div class="col-md-2 col-sm-12">
            <%= image_tag review.end_user.get_profile_image("100x100"), class:"mt-3 rounded-circle"; %>
            <p><%= review.end_user.last_name %><%= review.end_user.first_name %></p>
          </div>
          <div class="ccol-md-8 col-sm-12">
            <p><%= review.book.title %></p>
            <p><%= review.heading %></p>
            <p><%= link_to "詳細", admin_review_path(review), class: "btn btn-sm btn-info" %></p>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>ご登録のレビューはありません</p>
    <% end %>

  <%= paginate @reviews %>
</div>

