<!--エラーメッセージ-->
<% if @address.errors.any? %>
  <%= @address.errors.count %>件のエラーが発生しました
  <ul>
    <% @address.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h1>配送先情報入力</h1>
<%= form_with model: @address, url: addresses_path, method: :post do |f| %>
<%= f.label :postal_code, "郵便番号" %>
<%= f.text_field :postal_code, required: true %>
<%= f.label :address, "住所" %>
<%= f.text_field :address, required: true %>
<%= f.label :name, "宛名" %>
<%= f.text_field :name, required: true %>
<%= f.submit"配送先を追加" %>
<% end %>

<h1>配送先一覧</h1>
<% @addresses.each do |address| %>
<%= address.postal_code %>
<%= address.address %>
<%= address.name %>
<%= link_to "編集する", edit_address_path(address) %>
<%= link_to "削除する", address_path(address), method: :delete, data: {confirm: "本当に削除しますか？"} %>
<% end %>

