<P> この本に関するレビューを書く</P>

<div class="rating-box">
    <%= form_with model:[book, review], url: public_reviews_path(book.id), method: :post do |f| %>
    <%= f.label :score %>
    <div class="main-rating">
        <div class="ratings">
            <span class="far fa-star" id= "star"></span>
            <span class="far fa-star" id= "star"></span>
            <span class="far fa-star" id= "star"></span>
            <span class="far fa-star" id= "star"></span>
            <span class="far fa-star" id= "star"></span>
        </div>
        <div class="rating-value-display"><span id="rating-value-display">0</span>/5</div>
    </div>
    <%= f.hidden_field :book_id, value: book.id %> 
    <%= f.hidden_field :score, id: "rating-value" %>
    
    

    <%= f.label :heading %>
    <%= f.text_field :heading %>

    <%= f.label :blog %>
    <%= f.text_area :blog %>

    <%= f.submit"レビューを保存する" %>
    <%= link_to "他のレビューを見る", public_reviews_path %>
    <% end %>

</div>