<P> この本に関するレビューを書く</P>


    <%= form_with model: review, url: public_reviews_path(book_id: book.id), method: :post do |f| %>
    <%= f.label :score %>

    <div id="score">
            <%= f.label :score,'評価 ', class:'col-md-3 col-form-label' %>
            <%= f.hidden_field :score, id: :review_star %>
    </div>

    <script>
    $('#score').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        scoreName: 'review[score]',
        half: true,
    });
    </script>

    <%= f.label :heading %>
    <%= f.text_field :heading %>

    <%= f.label :blog %>
    <%= f.text_area :blog %>

    <%= f.submit"レビューを保存する" %>
    <%= link_to "他のレビューを見る", public_reviews_path %>
    <% end %>