
<% reviews.each do |review| %>
  <div class= "card w-90 mx-auto mt-1 shadow-lg">
    <div class= "card-body">
      <div class = "row">
        <div class "col-2">
        <%= link_to (image_tag(review.book.medium_image_url)), review.book.item_url %>
        </div>
        <div class "col-2">
          <%= image_tag review.end_user.get_profile_image("100x100"), class:"mt-3 rounded-circle"; %>
        </div>
        <div class="col-8">
          <p >
            <%= review.book.title %>
          </p>
          <P>
            <%= link_to review_path(review) do %>
            <%= review.heading %>
            <% end %>
          </P>
          <p><%= link_to "#{review.review_comments.count}コメント", review_path(review) %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>