<h1>レビューの編集ページ</h1>
<P> この本に関するレビューを書く</P>

<%= link_to (image_tag(@review.book['large_image_url'])), @review.book['item_url'] %>
<<%= @review.book.title %>
<%= @review.book.author %>
<%= @review.book.publisher_name %>

<div class="rating-box">
    <%= form_with model: [@book, @review], url: public_review_path, method: :patch do |f| %>
    <%= f.label :score %>
    <div class="main-rating">
        <div class="ratings">
            <span class="far fa-star" id= "star"></span>
            <span class="far fa-star" id= "star"></span>
            <span class="far fa-star" id= "star"></span>
            <span class="far fa-star" id= "star"></span>
            <span class="far fa-star" id= "star"></span>
        </div>
        <div class="rating-value-display"><span id="rating-value-display">0</span>/5</div>
    </div>

    <%= f.hidden_field :score, id: "rating-value" %>

    <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name), prompt: "--選択して下さい--" %>


    <%= f.label :heading %>
    <%= f.text_field :heading %>

    <%= f.label :blog %>
    <%= f.text_area :blog %>

    <%= f.submit"レビューを保存する" %>
    <%= link_to "他のレビューを見る",  public_reviews_path %>
    <% end %>