<h1>投稿したレビュー一覧</h1>

<% @reviews.each do |review| %>
<div></div>
<%= link_to (image_tag(review.book.medium_image_url)), review.book.item_url %>
<%= review.book.title %>
<%= review.heading %>
<%= review.blog %>
<%= link_to"レビューの詳細を見る", public_review_path(review) %>
<%= link_to "#{review.review_comments.count}コメント", public_review_path(review) %>
</div>
<% end %>



