
<h2>レビュー詳細</h2>


<%= link_to (image_tag(@review.book['large_image_url'])), @review.book['item_url'] %>
<%= @review.book.title %>
<%= @review.book.author %>
<%= @review.book.publisher_name %>
<!--レビュー５段階評価-->

<div id="score"></div>
<%= @review.score %>

<script>

  $('#score').raty({
    //imageを表示
    starOff: '<%= asset_path('star-off.png') %>',
    starOn: '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    //半値も表示できる
    half: true,
    //固定して表示できる
    readOnly: true,
    //呼び出したいカラムデータ
    score: <%= @review.score %>,
  });

</script>

<!--/レビュー５段階評価-->

<div id="favorite-btn">
 <%= render 'public/favorites/favorite-btn', review: @review %>
 <%#= Dir.glob("app/views/public/favorites/*") %>
</div>

<p>レビュー投稿日<%= @review.created_at.strftime('%Y/%m/%d') %></p>
<p>レビュー更新日<%= @review.updated_at.strftime('%Y/%m/%d') %></p>
<p><%= @review.heading %></p>
<%= @review.blog %>
<% if @end_user == current_end_user %>
<li><%= link_to "編集する", edit_review_path(@review) %></li>
<% end %>

<li><%= link_to "他の投稿したレビューの一覧を見てみる", reviews_path %></li>

<!-- レビューへのコメント機能-->

<div id="comment">
  <%= render 'public/review_comments/comment', review: @review, review_comment: @review_comment %>
</div>




<!-- /レビューへのコメント機能-->

