<% if @records.present? %>
  <div class="container">
    <h4 class="text-center">本レビューの検索結果一覧</h4>
    <% @records.each do |review| %>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <%= link_to (image_tag(review.book.medium_image_url)), review.book.item_url %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text"><%= review.book.title %></p>
              <p class="card-text"><%= review.book.author %></p>
              <p><%= review.heading %></p>
            </div>
          </div>
        </div>
        <div class="row">
          <p class= "col-4 mx-2">
            <%= link_to "詳細", review_path(review), class: "btn btn-sm btn-info" %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @records %>
<% else %>
  <p>お探しのレビューはございません</p>
<% end %>