<%= form_with model: @category, url: public_categories_path, method: :post do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.submit "カテゴリーを追加する" %>
<% end %>

<h1>カテゴリー一覧</h1>
<% @categories.each do |category| %>
<%= category.name %>
<% end %>