<p>カテゴリー追加</p>

<%= form_with model: [:public, @category], local: true do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.submit %>
<% end %>
<p>カテゴリー一覧</p>

<% @categories.each do |category| %>
<%= category.name %>
<% end %>