<h1>カート内商品一覧</h1>
<%= link_to destroy_all_cart_items_path, method: :delete do  %><p>カート内を空にする</p><% end %>
<div>
   <% total = 0 %>
<% @cart_items.each do |cart_item| %>
    <%= image_tag cart_item.sale.get_sale_iamge("200x200") %>
    <%= cart_item.sale.book.title %>
    ¥<%= cart_item.sale.price %>円
    <%= link_to "カート内から削除", cart_item_path(cart_item), method: :delete %>
 <% @cart_item_price = total += cart_item.sale.price %>
<% end %>
</div>

  <h4>商品合計</h4>
  ¥<%= @cart_item_price %>円

  <p><%= link_to "出品されている本を探す", sales_path %></p>
  <!--カート内商品の情報を渡す-->
  <p><%= link_to "情報入力に進む", new_order_path(@cart_items) %></p>