<h1>ユーザー一覧</h1>
<% @end_users.each do |end_user| %>

<p>Name</p>
<%= link_to admin_end_user_path(end_user) do %>
<%= image_tag end_user.get_profile_image("100x100") %>
<%= end_user.last_name %>
<%= end_user.first_name %>
<% end %>

<p>Email</p>
<%= end_user.email %>

<p>Status</p>

<%= end_user.is_deleted ? "退会" : "有効" %>
<%= link_to "アカウント削除", admin_end_user_path(end_user), method: :delete, data: { confirm: "本当に削除しますか？"} %>

<% end %>