<div class="container">
  <div class="row mx-auto w-80">
    <h2 class= "col-md-6 col-sm-12 py-5 mx-auto">ユーザー一覧</h2>
    <div class= "hover col-12 bg-light has_border">
      <div class ="row">
        <div class= "col-md-1 col-sm-12 py-2">会員ID</div>
        <div class= "col-md-2 col-sm-12 py-2">イメージ</div>
        <div class= "col-md-2 col-sm-12 py-2">氏名</div>
        <div class= "col-md-2 col-sm-12 py-2">フリガナ</div>
        <div class= "col-md-2 col-sm-12 py-2">会員ステータス</div>
      </div>
        <% @end_users.each do |end_user| %>
        <div class="row">
            <div class="col-md-1 col-sm-12 text-center"><%= end_user.id %></div>
            <div class="col-md-2 col-sm-12"><%= image_tag end_user.get_profile_image("100x100") %></div>
            <div class="col-md-2 col-sm-12"><%= end_user.last_name %><%= end_user.first_name %></div>
            <div class="col-md-2 col-sm-12"><%= end_user.last_name_kana %><%= end_user.first_name_kana %></div>
            <div class="col-md-2 col-sm-12"><%= end_user.is_deleted ? "退会" : "有効" %></div>
            <div class="col-md-2 col-sm-12">
              <%= link_to "詳細", admin_end_user_path(end_user),
              class: "btn btn-sm px-4 btn-info" %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
  <%= paginate @end_users %>
</div>


