<div class= "container">
  <div class ="row">
    <div class = "card-list-container col-12">
       <h2 class="text-dark mt-5">マイページ</h2>
      <div class= "card mx-auto mt-1 shadow-lg">
        <div class= "card-body">
          <div class = "row">
            <div class="col-md-2 col-sm-12">
              <%= image_tag @end_user.get_profile_image("100x100") %>
            </div>
            <div class="col-10">
              <div class= "profile">
                <div class="row">
                  <div class="col-md-3 col-sm-12 py-1">氏名</div>
                  <div class="col-md-3 col-sm-12 py-1">フリガナ</div>
                  <div class="col-md-3 col-sm-12 py-1">ニックネーム</div>
                  <div class="col-md-3 col-sm-12 py-1">ステータス</div>
                </div>
                <div class="row">
                  <div class="col-md-3 col-sm-12 py-1"><%= @end_user.last_name %><%= @end_user.first_name %></div>
                  <div class="col-md-3 col-sm-12 py-1"><%=@end_user.last_name_kana %><%= @end_user.first_name_kana %></div>
                  <div class="col-md-3 col-sm-12 py-1"><%= @end_user.nickname %> </div>
                  <div class="col-md-3 col-sm-12 py-1"><%= @end_user.is_deleted ? "退会" : "有効" %></div>
                </div>
                <div class="row">
                  <div class="col-md-3 col-sm-12 py-1">メールアドレス</div>
                  <div class="col-md-3 col-sm-12 py-1">電話番号</div>
                  <div class="col-md-3 col-sm-12 py-1">郵便番号</div>
                  <div class="col-md-3 col-sm-12 py-1">住所</div>
                </div>
                <div class="row">
                  <div class="col-md-3 col-sm-12 py-1"><%= @end_user.email %></div>
                  <div class="col-md-3 col-sm-12 py-1"><%= @end_user.telephone_number %></div>
                  <div class="col-md-3 col-sm-12 py-1"><%= @end_user.postal_code %></div>
                  <div class="col-md-3 col-sm-12 py-1"><%= @end_user.address %></div>
                </div>
              </div>
              <div class="row">
                <div class= "col-12 py-2">
                  <h4>プロフィール</h4>
                  <div class="col-12"><%= @end_user.introduction %></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class ="col-md-4 col-sm-12"><%= link_to "アカウント削除", admin_end_user_path(@end_user), method: :delete, data: { confirm: "本当に削除しますか？"}, class: "btn btn-lg px-4 btn-danger" %></p>
      </div>
    </div>
  </div>
</div>




