<h1>全ての出品本一覧</h1>
<% @sales.each do |sale| %>
  <%= link_to sale_path(sale) do %>
    <%= image_tag sale.get_sale_iamge("200x200") %>
    <%= sale.book.title %>
    <%= sale.price %>円
    <%= sale.is_active ? "出品中" : "出品不可" %>

  <%= link_to "削除する", sale_path(sale), method: :delete %>
  <% end %>
<% end %>


