<div class="container">
<h2 class= "col-6 py-2 mx-auto">詳細</h2>
<h4>イメージ</h4>
<div class= "row w-80 mx-auto my-2 bg-light shadow-lg">
 <div class ="col-4 py-2">
  <%= link_to (image_tag(@sale.book['large_image_url'])), @sale.book['item_url'] %>
  </div>
  <div class ="col-6">
      <p><%= @sale.book.title %></p>
      <p><%= @sale.book.author %></p>
      <p><%= @sale.book.publisher_name %></p>
  </div>
</div>

  <div class= "row w-80 mx-auto my-2 bg-light shadow-lg">
    <div class="col-2 py-2 px-2">

     <%= link_to end_user_path(@sale) do  %>
      <%= image_tag @sale.end_user.get_profile_image("100x100") %>
       <p><%= @sale.end_user.nickname %></p>
        <% end %>
    </div>
    <div class="col-2 py-2 px-2">
      <p><%= image_tag @sale.get_sale_iamge("100x100") %></p>
    </div>
    <div class="col-5">
      <p>￥<%= @sale.price %>円</p>
      <p><%= @sale.title %></p>
      <p><%= @sale.introduction %></p>
      <p><%= @sale.status_i18n %></p>
      <p>
       <%= form_with model: @sale, url: sale_path(@sale), method: :patch do |f| %>
       <%= f.select :status, {'発送中': 'shipping', '出品中': 'on_sale'} %>
       <%= f.submit "変更" %>
       <% end %>
      </p>
    </div>
  </div>


  <% if end_user_signed_in? %>
   <% if  @sale.end_user != current_end_user %>
   <%= form_with model: [@sale, @cart_item], url: cart_items_path, method: :post do |f| %>
    <%= f.hidden_field :sale_id, :value => @sale.id %>
    <%= f.submit"カートに入れる", class: "btn btn-lg btn-success" %>
    <% end %>
    <% end %>
  <% end %>

  <% if  @sale.end_user == current_end_user %>
  <%= link_to "出品内容編集", edit_sale_path(@sale), class: "btn btn-sm btn-success" %>
 <% end %>

 </div>
