
 <h1>出品したユーザー</h1>
<%= link_to end_user_path(@sale) do  %>
  <%= image_tag @sale.end_user.get_profile_image("100x100") %>
  <%= @sale.end_user.nickname %>
  <% end %>

 <h1>出品本の詳細</h1>
 <h4>出品本イメージ</h4>
  <%= link_to (image_tag(@sale.book['large_image_url'])), @sale.book['item_url'] %>
   <%= @sale.book.title %>
   <h4>ユーザーの本</h4>
   <p>
  <%= image_tag @sale.get_sale_iamge("100x200") %>
  </p>
  ￥<%= @sale.price %>円
  <%= @sale.introduction %>
  <% @sale.is_active ? "販売中" : "販売不可" %>

  <% if @sale.is_active == true %>
  <% if end_user_signed_in? %>
   <%= form_with model: [@sale, @cart_item], url: cart_items_path, method: :post do |f| %>
    <%= f.hidden_field :sale_id, :value => @sale.id %>
    <%= f.submit"カートに入れる" %>
    <% end %>
  <% end %>
  <% end %>
  <% if @end_user == current_end_user %>
  <%= link_to "出品内容を変更する", edit_sale_path(@sale) %>
 <% end %>

