<div class= "container px-5 px-sm-0">
  <div class= "row">
    <div class="col-12">
      <h2 class="text-center py-4">注文情報詳細</h2>
    </div>
    <div class= "card col-md-10 col-sm-12 w-60 mx-auto mt-1 shadow-lg">
      <div class= "card-body h-100">
        <div class = "row">
          <div class = "col-md-5 col-sm-12 mx-4">
            <% @order.order_details.each do |order_detail| %>
            <P class="row row-cols-md-1 row-cols-md-3">
            <%= image_tag order_detail.sale.get_sale_iamge("200x200") %></P>
              <P>¥<%= order_detail.price %>円</P>
              <P><%= order_detail.sale.title %></P>
              <P><%= order_detail.sale.status_i18n %></P>
            <% end %>
          </div>
          <div class ="col-md-5 col-sm-12 px-4">
            <h6>郵便番号</h6>
            <p><%= @order.postal_code %></p>
            <h6>配送先住所</h6>
            <p><%= @order.shipping_address %></p>
            <h6>宛名</h6>
            <p><%= @order.shipping_name %></p>
            <h6>請求金額</h6>
            <p>¥<%= @order.total_payment %>円</p>
            <h6>支払い方法</h6>
            <p><%= @order.payment_method_i18n %></p>
            <h6>ステータス</h6>
            <p><%= @order.status_i18n %></p>
            <%= form_with model: @order, url: order_path(@order), method: :patch do |f| %>
              <%= f.select :status,{'未完了': 'incomplete', '完了': 'complete' }%>
              <%= f.submit "変更" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>