<h1>注文情報詳細</h1>

<h1>注文履歴一覧</h1>
<p>購入した本</p>
<div class= "container px-5 px-sm-0">
  <div class= "row">

  <div class= "card col-10 w-60 mx-auto mt-1 shadow-lg">
    <div class= "card-body h-100">
      <div class = "row">
        <div class = "col-5 mx-4">
           <% @order.order_details.each do |order_detail| %>
           <P class="row-cols-3 row-cols-md-3">
          <%= image_tag order_detail.sale.get_sale_iamge("200x200") %></P>
          <P>¥<%= order_detail.price %>円</P>
          <P><%= order_detail.shipping_status_i18n %></P>
          <%= form_with model: @order_detail, url: order_detail_path(order_detail), method: :patch do |f| %>
          <%= f.select :shipping_status,['購入中','キャンセル'] %>
          <%= f.submit "変更" %>
          <% end %>
          <% end %>
        </div>
        <div class ="col-5 px-4">
          <h6>郵便番号</h6>
          <p><%= @order.postal_code %></p>
          <h6>配送先住所</h6>
           <p><%= @order.shipping_address %></p>
           <h6></h6>
           <p><%= @order.shipping_name %></p>
           <h6></h6>
           <p><%= @order.shipping_cost %></p>
           <h6></h6>
           <p><%= @order.total_payment %></p>
           <h6></h6>
          <p><%= @order.payment_method_i18n %></p>
          <h6></h6>
           <p><%= @order.status_i18n %></p>
           <%= form_with model: @order, url: order_path(@order), method: :patch do |f| %>
          <%= f.select :status,['incomplete', 'complete'] %>
          <%= f.submit "変更" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
</div>