<%= form_with model: @books, url: public_books_path, method: :post do |f| %>
<%= f.label :tite %>
<%= f.text_field :title %>
<%= f.label :author %>
<%= f.text_field :author %>
<%= f.submit "投稿する" %>
<% end %>

<h2>ユーザーのレビューする本</h2>
<% @books.each do |book| %>

<%= book.title %>
<%= book.author %>
<%= link_to "レビューする", public_book_path(book) %>
<% end %>