<div class="container">
  <h2>楽天Books検索結果一覧</h2>
  <h4>気になる本を自分のページに追加できます</h4>
  <!--楽天ブックス検索結果一覧を表示-->
  <!--カラムに関してはエラーを出さないように、オブジェクトではなくハッシュを使い表示、格納するよう設定-->
  <div class="row row-cols-sm-1 g-1 row-cols-md-4 g-4">
    <% @books.each do |book| %>
      <div class="col py-1 px-1">
        <div class="card h-100">
          <!--楽天のitem_urlを合わせればimage表示可能-->
          <%= link_to (image_tag(book['medium_image_url'])), book['item_url'] %>
          <div class="card-body">
            <h6 class="card-title py-0"><%= book['title'] %></h6>
            <p class="card-text"><!--著者名がないと表示されないのでifで条件分岐-->
              <% if book['author'] == '' %>
                <p class="py-0">不明</p>
              <% else %>
                <p><%= book['author'] %></p>
              <% end %>
            </p>
            <!--表示された本ごとの情報をレビューを書くように、hidden_fieldでbookテーブルに格納-->
            <%= form_with model: @book, url: books_path, method: :post do |f| %>
              <%= f.hidden_field :isbn, :value => book['isbn'] %>
              <%= f.hidden_field :title, :value => book['title'] %>
              <%= f.hidden_field :author, :value => book['author'] %>
              <%= f.hidden_field :publisher_name,:value => book['publisher_name'] %>
              <%= f.hidden_field :item_caption, :value => book['item_caption'] %>
              <%= f.hidden_field :item_url, :value => book['item_url'] %>
              <%= f.hidden_field :large_image_url, :value => book['large_image_url'] %>
              <%= f.hidden_field :medium_image_url, :value => book['medium_image_url'] %>
              <!--選択されていない状況を回避するためにhtmlで記述-->
              <select required class="form_control" name="book[category_id]" id="book_category_id">
                <option value="">--選択して下さい--</option>
                <% Category.all.each do |category| %>
                  <option value="<%= category.id %>"><%= category.name %></option>
                <% end %>
              </select>
              <!--/選択されていない状況を回避するためにhtmlで記述-->
              <%= f.submit "My本棚に追加", class: "btn btn-sm btn-success" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
