<div class= "container">
  <div="row">
    <h2 class="text-center">本の詳細</h2>
    <div class= "col-md-6 col-sm-12 mx-sm-auto bg-light rounded my-5">
      <div class="row g-0">
        <div class="col-md-4 col-sm-12 py-2">
          <%= link_to (image_tag(@book.large_image_url)), @book.item_url %>
        </div>
        <div class="col-md-8 col-sm-12">
          <div class="card-body">
            <p class="card-text"><%= @book.title %></p>
            <p class="card-text"><%= @book.author %></p>
            <p><%= @book.publisher_name %></p>
          </div>
        </div>
        <% if @book.item_caption.present? %>
          <div class="col-md-12">
            <h6 class="text-center">要約</h6>
            <P class="text-center"><%= @book.item_caption %></P>
          </div>
        <% end %>
      </div>
      <div class="mx-sm-auto pb-2">
        <%= link_to "自身の登録本一覧", books_path(end_user_id: current_end_user.id), class: "btn btn-sm btn-info" %>
      </div>
    </div>
  </div>
  <div= "row">
    <%= render "public/reviews/form", book: @book, review: @review %>
  </div>
</div>