<header class="shadow-sm">
  <nav class= "navbar navbar-expand-lg navbar-light" >

       <a class="navbar-brand" href="/"><%= image_tag ('header_logo'), size: '300x100' %></a>
      <button class= "navbar-toggler" type="button" data-toggle= "collapse" data-target= "#navbarNavDropdown"
              aria-controls= "navbarNavDropdown" aria-expanded= "false" aria-label"Toggle navigation">
        <span class= "navbar-toggler-icon"></span>
      </button>

      <div class= "collapse navbar-collapse" id = "navbarNavDropdown">
        <ul class = "navbar-nav ml-auto">
          <% if admin_signed_in? %>

            <li class= "nav-item active">
              <%= link_to "ユーザー一覧", admin_end_users_path, class: 'nav-link text-dark' %>
            </li>
            <li class= "nav-item active">
              <%= link_to "レビュー一覧", admin_reviews_path, class: 'nav-link text-dark' %>
            </li>
            <li class= "nav-item active">
              <%= link_to "カテゴリーー覧", admin_categories_path, class: 'nav-link text-dark' %>
            </li>
            <li class= "nav-item active">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :get, class: 'nav-link text-dark' %>
            </li>

          <% elsif end_user_signed_in? %>

            <li class= "nav-item active">
              <%= link_to "ホーム", root_path, class: 'nav-link text-dark' %>
            </li>
            <li class= "nav-item active">
              <%= link_to "マイページ", mypage_path, class: 'nav-link text-dark' %>
            </li>
            <li class= "nav-item active">
              <%= link_to "ユーザー", end_users_path, class: 'nav-link text-dark' %>
            </li>
            <li class= "nav-item active">
              <%= link_to "出品", new_sale_path, class: 'nav-link text-dark' %>
            </li>

            <li class= "nav-item active">
              <%= link_to "購入", sales_path, class: 'nav-link text-dark' %>
            </li>
            <li class= "nav-item active">
              <%= link_to "レビュー", reviews_path, class: 'nav-link text-dark' %>
            </li>
             <li class= "nav-item active">
              <%= link_to "レビュー下書き", review_confirm_reviews_path, class: 'nav-link text-dark' %>
            </li>
            <!--エラーが出たためdeleteからgetに修正-->
            <li class= "nav-item active">
              <%= link_to "ログアウト", destroy_end_user_session_path, class: 'nav-link text-dark' %>
            </li>

          <% else %>

            <li class= "nav-item active">
              <%= link_to "ホーム", root_path, class: 'nav-link text-dark' %>
            </li>
            <li class= "nav-item active">
              <%= link_to "会員登録", new_end_user_registration_path, class: 'nav-link text-dark' %>
            </li>
            <li class= "nav-item active">
              <%= link_to "ログイン", new_end_user_session_path, class: 'nav-link text-dark' %>
            </li>
            <li class= "nav-item active">
              <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, method: :post, class: 'nav-link text-dark' %>
            </li>

          <% end %>
        </ul>
      </div>

  </nav>

</header>