<!DOCTYPE html>
<html>
  <head>
    <title>SecondBookstore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if admin_signed_in? %>

        <p>管理者用</p>

        <li><%= link_to "ユーザー一覧", admin_end_users_path %></li>
        <li><%= link_to "レビュー一覧", admin_reviews_path %></li>
        <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>

      <% elsif end_user_signed_in? %>

        <p>ようこそ<%= current_end_user.last_name %><%= current_end_user.first_name %>さん</p>

        <li><%= link_to "ホーム", root_path %></li>
        <li><%= link_to "ユーザー一覧", end_users_path %></li>
        <li><%= link_to "出品する", new_sale_path %></li>
         <li><%= link_to "本を買いたい", sales_path %></li>
        <li><%= link_to "レビュー一覧", reviews_path %></li>
        <li><%= link_to "ログアウト", destroy_end_user_session_path, method: :delete %></li>

        <%= render "public/books/rakuten_search" %>
      <% else %>

        <li><%= link_to "ホーム", root_path %></li>
        <li><%= link_to "会員登録", new_end_user_registration_path %></li>
        <li><%= link_to "ログイン", new_end_user_session_path %></li>

      <% end %>
    </header>
    <p><%= flash[:notice] %></p>
    <p><%= flash[:alert] %></p>
    <%= yield %>
  </body>
</html>
